<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="calibration">
  <!-- Add AR markers -->
  <xacro:include filename="$(find aist_aruco_ros)/urdf/ar_marker.urdf.xacro"/>

  <xacro:ar_marker prefix="b_bot_"
  		   parent="b_bot_gripper_base_link"
  		   marker_id="26"
		   width="0.070" height="0.070" margin="0.005"
		   thickness="0.005">
    <origin xyz="0.063 0.0 0.0215" rpy="0 0 ${pi/2}"/>
  </xacro:ar_marker>

  <xacro:ar_marker prefix="workspace_"
		   parent="workspace_center"
		   marker_id="17_26_32_256"
		   width="0.150" height="0.150" margin="0.005"
		   thickness="0.001">
    <origin xyz="0.0 0.0 0.0005" rpy="0 0 0"/>
  </xacro:ar_marker>

  <!-- <xacro:ar_marker prefix="workspace_" -->
  <!-- 		   parent="workspace_center" -->
  <!-- 		   marker_id="6x4" -->
  <!-- 		   width="0.246" height="0.162" margin="0.006" -->
  <!-- 		   thickness="0.001"> -->
  <!--   <origin xyz="0.0 0.0 0.0005" rpy="0 0 0"/> -->
  <!-- </xacro:ar_marker> -->

</robot>
