<?xml version="1.0" ?>
<launch>

  <arg name="camera_names"	default="live_camera"/>
  <arg name="image_topics"	default="image_raw"/>
  <arg name="config"		default="aist"/>
  <arg name="manager"		default=""/>

  <!-- Launch ArUco and calibrator -->
  <include file="$(dirname)/include/camera_calibration.launch">
    <arg name="camera_names"	value="$(arg camera_names)"/>
    <arg name="image_topics"	value="$(arg image_topics)"/>
    <arg name="config_file"	value="$(dirname
				       )/../../config/$(arg config).yaml"/>
    <arg name="manager"		value="$(arg manager)"/>
  </include>

  <!-- Start rviz -->
  <include file="$(find aist_bringup)/launch/include/rviz.launch">
    <arg name="moveit_config"	value="$(find aist_moveit_config)"/>
    <arg name="rviz_config"
  	 value="$(find aist_camera_calibration
  		)/launch/include/camera_calibration.rviz"/>
  </include>

</launch>
