<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"	default="usb_camera"/>
  <arg name="image_topic"	default="image_raw"/>
  <arg name="manager"		default=""/>

  <node unless="$(eval manager == '')"
	name="$(arg manager)" pkg ="nodelet" type="nodelet"
	args="manager" output="screen">
    <param name="num_worker_threads"    value="4"/>
  </node>

  <!-- Start live camera -->
  <node name="$(arg camera_name)"
	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(find aist_routines)/config/$(arg camera_name).yaml"/>
  </node>

  <!-- Launch ArUco and calibrator -->
  <include file="$(dirname)/include/camera_calibration.launch">
    <arg name="camera_names"	value="$(arg camera_name)"/>
    <arg name="image_topics"	value="$(arg image_topic)"/>
    <arg name="config_file"	value="$(find aist_camera_calibration
				       )/config/plane.yaml"/>
    <arg name="manager"		value="$(arg manager)"/>
  </include>

  <!-- Start image_view -->
  <arg if    ="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>
  <node name="image_view" pkg="nodelet" type="nodelet" output="screen"
	args="$(arg command) image_view/image $(arg manager)">
    <remap from="/image"
	   to="/aruco_multi_detector/$(arg camera_name)/result"/>
  </node>

</launch>
