[submodule "third_party/aruco_ros"]
	path = third_party/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros
[submodule "third_party/realsense-ros"]
	path = third_party/realsense-ros
	url = git@github.com:Automation-Research-Team/realsense-ros
[submodule "third_party/ur_robot_driver"]
	path = third_party/ur_robot_driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver
[submodule "third_party/ur_simulation_gz"]
	path = third_party/ur_simulation_gz
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_GZ_Simulation
