<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assy_part_01">
  <xacro:include filename="$(find aist_description
			   )/parts/urdf/part.urdf.xacro"/>
  <xacro:arg name="partname"	default="panel_bearing"/>
  <xacro:arg name="collision"	default="True"/>

  <link name="base_link"/>

  <xacro:part partname="$(arg partname)" prefix="$(arg partname)/"
	      parent="base_link" collision="$(arg collision)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:part>
</robot>
