<?xml version="1.0" ?>
<launch>

  <!-- Start assembly client -->
  <node name="collision_object_manager"
	pkg="aist_collision_object_manager" type="collision_object_manager.py"
	clear_params="true" output="screen">
    <rosparam param="object_descriptions"
	      file="$(find aist_fastening_tools
		    )/config/fastening_tools_properties.yaml"/>
    <rosparam param="object_descriptions"
    	      file="$(find aist_precision_gripper
    		    )/config/precision_tool_properties.yaml"/>
    <rosparam param="object_descriptions"
	      file="$(find aist_description
		    )/parts/config/parts_properties.yaml"/>
  </node>

</launch>
