<?xml version="1.0"?>
<launch>

  <arg name="target_pose_topic"	default=""/>
  <arg name="sim"		default="false"/>
  <arg name="unitless"		default="false"/>
  <arg name="traj"		default="true"/>

  <!-- Select server type -->
  <arg if="$(eval target_pose_topic == '')"
       name="server"		value="servo_server"/>
  <arg unless="$(eval target_pose_topic == '')"
       name="server"		value="pose_tracking_servo"/>

  <!-- Set parameters for servo_server or pose_tracking_servo -->
  <arg if="$(arg unitless)"
       name="command_in_type"	value="unitless"/>
  <arg unless="$(arg unitless)"
       name="command_in_type"	value="speed_units"/>

  <arg if="$(arg traj)"
       name="command_out_type"	value="trajectory_msgs/JointTrajectory"/>
  <arg unless="$(arg traj)"
       name="command_out_type"	value="std_msgs/Float64MultiArray"/>

  <arg if="$(arg traj)"
       name="controller"	value="arm_controller"/>
  <arg unless="$(arg traj)"
       name="controller"	value="arm_joint_group_controller"/>

  <node unless="$(arg traj)"
	name="rqt_controller_manager"
        pkg="rqt_controller_manager" type="rqt_controller_manager"/>

  <!-- Spawn servo_server or pose_tracking_servo -->
  <node name="$(arg server)"
	pkg="aist_moveit_servo" type="$(arg server)" output="screen">
    <rosparam file="$(dirname)/../../config/khi_servo_server.yaml"
	      subst_value="true"/>
    <rosparam if="$(eval server == 'pose_tracking_servo')"
	      file="$(dirname)/../../config/khi_pose_tracking.yaml"
	      subst_value="true"/>
    <remap if="$(eval server == 'pose_tracking_servo')"
	   from="/target_pose" to="$(arg target_pose_topic)"/>
  </node>

</launch>
