<launch>
  <arg name="ftsensor_name"	default="a_bot_ftsensor"/>
  <arg name="robot_name"	default="a_bot"/>
  <arg name="calibrated"	default="true"/>

  <node name="$(arg ftsensor_name)"
        pkg="aist_ftsensor" type="aist_ftsensor" output="screen">
    <rosparam file="$(dirname)/../config/$(arg ftsensor_name).yaml"/>
    <rosparam if="$(arg calibrated)"
	      file="$(env HOME)/.ros/aist_ftsensor/$(arg ftsensor_name).yaml"/>
    <remap from="/wrench_in" to="/$(arg robot_name)_controller/wrench"/>
  </node>
</launch>
