<launch>
  <arg name="prefix"		default="ftsensor_"/>
  <arg name="publish_rate"	default="125"/>
  <arg name="controller"	default="aist_ftsensor_controller"/>
  <!-- <arg name="controller"	default="force_torque_sensor_controller"/> -->
  <arg name="dev"		default="/dev/ttyUSB0"/>
  <arg name="avg"		default="1"/>

  <node name="$(arg prefix)driver"
        pkg="aist_ftsensor" type="dynpick_driver" output="screen">
    <rosparam file="$(dirname)/../config/dynpick_driver.yaml"
	      subst_value="true"/>
  </node>

  <rosparam file="$(dirname)/../config/controller.yaml"
  	    subst_value="true"/>
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
  	args="$(arg controller)"/>

</launch>
