<launch>
  <arg name="prefix"		default="a_bot_ftsensor_"/>
  <arg name="publish_rate"	default="125"/>
  <arg name="controller"	default="aist_ftsensor_controller"/>
  <!-- <arg name="controller"	default="force_torque_sensor_controller"/> -->
  <arg name="hostname"		default="a_bot"/>

  <node name="$(arg prefix)driver"
        pkg="aist_ftsensor" type="ft300_driver" output="screen">
    <param name="frame_id"	value="$(arg prefix)wrench_link"/>
    <param name="rate"		value="$(arg publish_rate)"/>
    <param name="hostname"	value="$(arg hostname)"/>
  </node>

  <rosparam file="$(dirname)/../config/controller.yaml"
  	    subst_value="true"/>
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
  	args="$(arg controller)"/>

</launch>
