<launch>
  <arg name="prefix"	default="a_bot_ftsensor_"/>
  <arg name="hostname"	default="a_bot"/>

  <node name="$(arg prefix)driver"
        pkg="aist_ftsensor" type="ft300_driver" output="screen">
    <rosparam file="$(dirname)/../config/ft300_driver.yaml"
	      subst_val="true"/>
  </node>

  <rosparam file="$(dirname)/../config/force_torque_sensor_controller.yaml"
	    subst_value="true"/>
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
	args="force_torque_sensor_controller"/>

</launch>
