<launch>

  <arg name="prefix"		default="biclops_"/>
  <arg name="device"		default="biclops"/>
  <arg name="driver_arg"	defualt="BiclopsRevI.cfg, false, 100"
       
  <arg name="config_path"	value="$(eval driver_arg.split(',')[0])"/>
  <arg name="velocity_control"	value="$(eval driver_arg.split(',')[1])"/>
  <arg name="rate"		value="$(eval driver_arg.split(',')[2])"/>

  <!-- Spawn driver -->
  <node name="$(arg prefix)hardware_interface"
        pkg="aist_biclops" type="biclops_driver" output="screen">
    <param name="config_path"	   value="$(dirname
					  )/../../config/$(arg config_path)"/>
    <param name="velocity_control" value="$(arg velocity_control)"/>
    <param name="rate"		   value="$(arg rate)"/>
  </node>

</launch>
