<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="a_bot_"/>
  <arg name="device" default="ur5"/>
  <arg name="sim"    default="false"/>

  <!-- Setup controller parameters. -->
  <arg name="namespace"	value="$(eval prefix.rstrip('_'))"/>
  <arg name="scaled"	value="$(eval '' if sim else 'Scaled')"/>
  <arg name="frequency" value="$(eval 500 if device[-1] == 'e' else 125)"/>

  <rosparam ns="$(arg namespace)"
	    file="$(dirname)/../../config/ur_controller.yaml"
	    subst_value="true"/>

  <!-- The controller_spawner must be launched in the root namespace
       because gazebo publishes joint states in that. -->
  <group if="$(arg sim)">
    <node name="$(arg prefix)controller_spawner"
	  pkg="controller_manager" type="spawner"
	  respawn="false" output="screen"
	  args="$(arg namespace)/scaled_pos_joint_traj_controller"/>
    <node name="$(arg prefix)stopped_spawner"
	  pkg="controller_manager" type="spawner"
	  respawn="false" output="screen"
    	  args="--stopped $(arg namespace)/joint_group_pos_controller"/>
  </group>

  <group unless="$(arg sim)" ns="$(arg namespace)">
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
	  respawn="false" output="screen"
	  args="scaled_pos_joint_traj_controller
		joint_state_controller
		speed_scaling_state_controller
		aist_ftsensor_controller
		robot_status_controller"/>

    <!-- Load other controllers -->
    <node name="stopped_spawner" pkg="controller_manager" type="spawner"
    	  respawn="false" output="screen"
    	  args="--stopped
		joint_group_pos_controller joint_group_vel_controller"/>

    <node name="controller_stopper"
	  pkg="ur_robot_driver" type="controller_stopper_node"
	  respawn="false" output="screen">
      <remap from="robot_running"
	     to="ur_hardware_interface/robot_program_running"/>
      <rosparam param="consistent_controllers" subst_value="true">
          - "joint_state_controller"
          - "speed_scaling_state_controller"
          - "aist_ftsensor_controller"
          - "robot_status_controller"
      </rosparam>
    </node>
  </group>

</launch>
