<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="b_bot_"/>
  <arg name="device" default="ur5"/>
  <arg name="sim"    default="false"/>

  <!-- Setup controller parameters. -->
  <arg name="namespace"	value="$(eval prefix.rstrip('_'))"/>
  <arg name="scaled"	value="$(eval '' if sim else 'Scaled')"/>
  <arg name="frequency" value="$(eval 500 if device[-1] == 'e' else 125)"/>

  <group ns="$(arg namespace)">
    <rosparam file="$(find aist_bringup)/config/ur_robot_controller.yaml"
	      subst_value="true" />

    <!-- Spawn controller manager -->
    <arg name="controllers" value="joint_state_controller
				   scaled_pos_joint_traj_controller
				   speed_scaling_state_controller
				   force_torque_sensor_controller
				   robot_status_controller"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
	  respawn="false" output="screen"
	  args="$(arg controllers)"/>

    <!-- Load other controllers -->
    <arg name="stopped_controllers" default="joint_group_vel_controller"/>
    <node name="stopped_spawner" pkg="controller_manager" type="spawner"
	  respawn="false" output="screen"
	  args="--stopped $(arg stopped_controllers)" />

    <node name="controller_stopper"
	  pkg="controller_stopper" type="node" respawn="false" output="screen">
      <remap from="robot_running"
	     to="ur_hardware_interface/robot_program_running"/>
      <rosparam param="consistent_controllers" subst_value="true">
        - "joint_state_controller"
        - "speed_scaling_state_controller"
        - "force_torque_sensor_controller"
        - "robot_status_controller"
      </rosparam>
    </node>
  </group>

</launch>
