<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="suction_tool">
  <xacro:include filename="$(find aist_description
			   )/parts/urdf/object.urdf.xacro"/>

  <link name ="base_link"/>

  <xacro:object name="suction_tool" prefix="suction_tool/" parent="base_link"
		properties_file="$(find aist_fastening_tools
  				 )/config/fastening_tools_properties.yaml">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:object>
</robot>
