<launch>

  <arg name="name"		default="base"/>
  <arg name="property_file"	default="$(dirname
					 )/../config/parts_properties.yaml"/>
  <arg name="collision"		default="false"/>
  <arg name="rvizconfig"	default="$(dirname)/display.rviz" />

  <param name="robot_description"
	 command="$(find xacro)/xacro
		  $(dirname)/../urdf/object.urdf
		  name:=$(arg name)
		  property_file:=$(arg property_file)
		  collision:=$(arg collision)"/>

  <node name="robot_state_publisher"
	pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz"
	pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
