<launch>

  <!-- <include file="$(find ur_gazebo)/launch/ur5_bringup.launch"/> -->

  <include file="$(find a_bot_moveit_config
		 )/launch/move_group.launch">
    <!-- <arg name="sim"	value="true"/> -->
  </include>

  <include file="$(find a_bot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config"	value="true"/>
  </include>

  <node name="rqt_controller_manager"
	pkg="rqt_controller_manager" type="rqt_controller_manager"/>
  
</launch>
