<launch>

  <arg name="sim"		default="true"/>
  <arg name="robot_name"	default="a_bot"/>

  <node name="servo_server"
	pkg="aist_controllers" type="servo_server" output="screen" >
    <rosparam file="$(find aist_controllers
		    )/config/ur_trajectory_controller_config.yaml"
	      subst_value="true"/>
  </node>

</launch>
