<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <arg name="config_file"	default="c_bot_trajectory_controller_config"/>

  <node name="servo_server"
	pkg="moveit_servo" type="pose_tracking_example" output="screen">
    <rosparam file="$(find aist_controllers)/config/$(arg config_file).yaml"/>
    <rosparam file="$(find aist_controllers)/config/pose_tracking_settings.yaml"/>
  </node>

</launch>
