<launch>

  <arg name="sim"	default="true"/>
  <arg name="traj"	default="true"/>

  <arg if="$(arg traj)"
       name="config_file"	value="tranbo_trajectory_controller_config"/>
  <arg unless="$(arg traj)"
       name="config_file"       value="tranbo_group_controller_config"/>

  <node name="rqt_controller_manager"
        pkg="rqt_controller_manager" type="rqt_controller_manager"/>

  <node name="servo_server"
	pkg="aist_controllers" type="servo_server" output="screen" >
    <rosparam file="$(dirname)/../../config/$(arg config_file).yaml"
	      subst_value="true"/>
  </node>

</launch>
