<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <arg name="group"	default="false"/>
  <arg name="sim"	default="false"/>
  <arg name="scene"	default="calibration"/>

  <arg unless="$(arg group)"
       name="config_file"	value="tranbo_trajectory_controller_config"/>
  <arg if="$(arg group)"
       name="config_file"	value="tranbo_group_controller_config"/>
  <arg name="moveit_config"	value="$(eval find(arg('scene')
  						   + '_moveit_config'))"/>

  <!-- Launch MoveIt! planner in the case of simulation -->
  <include if="$(arg sim)"
	   file="$(find aist_bringup)/launch/include/move_group.launch">
    <arg name="robot_description_file"
  	 value="$(find toyota1_description
  		)/scenes/urdf/toyota1_base_scene.urdf.xacro
  		scene:=$(arg scene) move_base:=False"/>
    <arg name="moveit_config"	value="$(arg moveit_config)"/>
    <arg name="vis"		value="true"/>
  </include>

  <node name="servo_server"
	pkg="moveit_servo" type="pose_tracking_example" output="screen">
    <rosparam file="$(dirname)/../../config/$(arg config_file).yaml"/>
    <rosparam file="$(dirname)/../../config/pose_tracking_settings.yaml"/>
  </node>

</launch>
