<?xml version="1.0"?>
<launch>

  <arg name="joint_names"	default="['arm_joint1', 'arm_joint2',
					 'arm_joint3', 'arm_joint4',
					 'arm_joint5', 'arm_joint6']"/>
  <node name="joint_state_extractor"
	pkg="aist_utility" type="joint_state_extractor" output="screen">
    <rosparam param="joint_names"
	      subst_value="true">$(arg joint_names)</rosparam>
  </node>

</launch>
