<launch>

  <arg name="suction_control"	default="suction_control"/>
  <arg name="operation_mode"	default="operation_mode"/>

  <node name="suction_action_client"
	pkg="aist_suction_controller" type="suction_controller_client.py"
	output="screen"/>

  <include file="$(dirname)/run.launch">
    <arg name="suction_control"	value="$(arg suction_control)"/>
    <arg name="operation_mode"	value="$(arg operation_mode)"/>
  </include>

</launch>
