<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <arg name="sim"		default="false"/>
  <arg name="robot_name"	default="a_bot"/>
  <arg name="camera_name"	default="$(arg robot_name)_inside_camera"/>
  <arg name="traj"		default="true"/>
  <arg name="velocity_control"	default="false"/>
  <arg name="unitless"		default="false"/>
  <arg name="publish_rate"	default="100"/>

  <!-- Spawn aruco marker tracker -->
  <node name="aruco_detector" pkg="nodelet" type="nodelet" output="screen"
        args="load aist_aruco_ros/aruco_detector camera_manager">
    <remap from="/camera_info"	to="camera_multiplexer/camera_info"/>
    <remap from="/image"	to="camera_multiplexer/image"/>
    <remap from="/depth"	to="camera_multiplexer/depth"/>
    <rosparam file="$(find aist_handeye_calibration
  		    )/config/aist/$(arg camera_name).yaml"/>
  </node>

  <!-- Set parameters for pose_trakcing_servo -->
  <arg if="$(eval robot_name=='a_bot' or robot_name=='b_bot')"
       name="publish_period"	value="0.008"/>
  <arg unless="$(eval robot_name=='a_bot' or robot_name=='b_bot')"
       name="publish_period"	value="0.002"/>

  <arg if="$(arg traj)"
       name="command_out_type"	value="trajectory_msgs/JointTrajectory"/>
  <arg unless="$(arg traj)"
       name="command_out_type"	value="std_msgs/Float64MultiArray"/>

  <arg if="$(eval traj and not velocity_control)"
       name="controller"	value="scaled_pos_joint_traj_controller"/>
  <arg if="$(eval traj and velocity_control)"
       name="controller"	value="scaled_vel_joint_traj_controller"/>
  <arg if="$(eval not traj and not velocity_control)"
       name="controller"	value="joint_group_pos_controller"/>
  <arg if="$(eval not traj and velocity_control)"
       name="controller"	value="joint_group_vel_controller"/>

  <arg if="$(arg unitless)"
       name="command_in_type"	value="unitless"/>
  <arg unless="$(arg unitless)"
       name="command_in_type"	value="speed_units"/>

  <arg name="pub_pos"		value="$(eval not velocity_control)"/>
  <arg name="pub_vel"		value="$(eval velocity_control)"/>

  <!-- Spawn controller manager if non-default controller is required -->
  <node unless="$(eval controller == 'scaled_pos_joint_traj_controller')"
  	name="rqt_controller_manager"
        pkg="rqt_controller_manager" type="rqt_controller_manager"/>

  <!-- Spawn pose_tracking_servo -->
  <node name="pose_tracking_servo"
  	pkg="aist_moveit_servo" type="pose_tracking_servo" output="screen">
    <rosparam file="$(dirname)/../config/ur_servo_server.yaml"
  	      subst_value="true"/>
    <rosparam file="$(dirname)/../config/ur_pose_tracking.yaml"/>
    <remap from="/target_pose"	to="/aruco_detector/pose"/>
  </node>

  <!-- Select camera -->
  <node if="$(arg sim)"
	name="camera_selecter"
	pkg="aist_camera_multiplexer" type="select_camera.py"
	args="$(arg camera_name)" output="screen"/>
  <node unless="$(arg sim)"
	name="camera_selecter"
	pkg="aist_camera_multiplexer" type="select_realsense_camera.py"
	args="$(arg camera_name)" output="screen"/>

</launch>
