<?xml version="1.0"?>
<launch>

  <arg name="prefix"		default="a_bot_"/>
  <arg name="homing"		default="true"/>
  <arg name="publish_rate"	default="100"/>
  <arg name="sim"		default="false"/>
  <arg name="marker_id"		default="26"/>

  <arg name="camera_name"	value="$(arg prefix)inside_camera"/>

  <!-- Spawn hardware and move_group -->
  <include file="$(find aist_bringup)/launch/aist_bringup.launch">
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="rviz_config"	value="$(find aist_controllers)/launch/a_bot.rviz"/>
  </include>

  <!-- Load and publish hand-eye calibration -->
  <include file="$(find aist_handeye_calibration
                 )/launch/publish_calibration.launch">
    <arg name="config"		value="aist"/>
    <arg name="camera_name"	value="$(arg camera_name)"/>
  </include>

  <!-- Spawn aruco marker tracker -->
  <node name="aruco_detector"
	pkg="aist_aruco_ros" type="aist_aruco_detector"	output="screen">
    <param name="marker_id"	value="$(arg marker_id)"/>
    <remap from="/camera_info"  to="$(arg camera_name)/color/camera_info"/>
    <remap from="/image"        to="$(arg camera_name)/color/image_raw"/>
    <remap from="/depth"        to="$(arg camera_name
				    )/aligned_depth_to_color/image_raw"/>
  </node>

  <!-- Spawn point_head_controller -->
  <node name="$(arg prefix)point_head_tracker"
        pkg="aist_controllers" type="point_head_tracker"
        output="screen" respawn="false">
    <rosparam file="$(dirname)/../config/a_bot_tracker.yaml"
              subst_value="true"/>
    <remap from="/state"
	   to="a_bot/scaled_pos_joint_traj_controller/state"/>
  </node>

</launch>
