<?xml version="1.0"?>
<launch>

  <arg name="velocity_control"	default="true"/>
  <arg name="prefix"		default="biclops_"/>
  <arg name="homing"		default="true"/>
  <arg name="publish_rate"	default="100"/>
  <arg name="sim"		default="false"/>
  <arg name="serial_no"		default="639206003156"/>
  <arg name="marker_id"		default="26"/>

  <arg if="$(arg velocity_control)"
       name="controller_name"	value="$(arg prefix)vel_joint_traj_controller"/>
  <arg unless="$(arg velocity_control)"
       name="controller_name"	value="$(arg
				       prefix)pos_joint_traj_controller"/>

  <!-- Spawn biclops driver and controllers -->
  <include file="$(find aist_biclops)/launch/biclops_bringup.launch">
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="velocity_control"	value="$(arg velocity_control)"/>
    <arg name="prefix"			value="$(arg prefix)"/>
    <arg name="homing"			value="$(arg homing)"/>
    <arg name="rate"			value="$(arg publish_rate)"/>
  </include>

  <!-- Spawn move_group -->
  <include file="$(find aist_biclops)/launch/move_group.launch">
    <!-- <arg name="rviz_config"	value="$(dirname)/biclops_with_realsense.rviz"/> -->
  </include>

  <!-- Spawn aruco marker tracker -->
  <include unless="$(arg sim)"
	   file="$(find aist_aruco_ros)/launch/realsense.launch">
    <arg name="serial_no"	value="$(arg serial_no)"/>
    <arg name="camera_name"	value="$(arg prefix)camera"/>
    <arg name="marker_id"	value="$(arg marker_id)"/>
    <arg name="vis"		value="false"/>
  </include>

  <!-- Spawn point_head_controller -->
  <node name="$(arg prefix)point_head_tracker"
        pkg="aist_controllers" type="point_head_tracker"
        output="screen" respawn="false">
    <rosparam file="$(dirname)/../config/point_head_tracker.yaml"
              subst_value="true"/>
    <remap from="/state" to="$(arg controller_name)/state"/>
  </node>

</launch>
