<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="biclops_"/>
  <arg name="server"	default="$(arg prefix)point_head_tracker"/>

  <!-- Spawn controller -->
  <node name="point_head_client"
        pkg="aist_controllers" type="point_head_client.py"
        output="screen" respawn="false">
    <param name="server"	value="$(arg server)"/>
    <rosparam param="$(arg server)"
	      file="$(dirname)/../config/point_head_client.yaml"
              subst_value="true"/>
  </node>

</launch>
