<?xml version="1.0"?>
<launch>

  <arg name="target_offset"	default="[0.1, 0.15, 0.40, -90, 90, 0]"/>
  <arg name="plot_joints"	default="false"/>

  <!-- Spawn client -->
  <node name="pose_tracking_client"
        pkg="aist_controllers" type="pose_tracking_client.py"
        output="screen" respawn="false">
    <rosparam param="target_offset"
	      subst_value="true">$(arg target_offset)</rosparam>
  </node>

  <arg if="$(arg plot_joints)"
       name="plot_args"
       value="/arm_controller/command_debug/points[0]/positions[0]
  	      /arm_controller/command_debug/points[0]/positions[1]
  	      /arm_controller/command_debug/points[0]/positions[2]
  	      /arm_controller/command_debug/points[0]/positions[3]
  	      /arm_controller/command_debug/points[0]/positions[4]
  	      /arm_controller/command_debug/points[0]/positions[5]
  	      /arm_controller/state/actual/positions[0]
  	      /arm_controller/state/actual/positions[1]
  	      /arm_controller/state/actual/positions[2]
  	      /arm_controller/state/actual/positions[3]
  	      /arm_controller/state/actual/positions[4]
  	      /arm_controller/state/actual/positions[5]"/>
  <!-- <arg unless="$(arg plot_joints)" -->
  <!--      name="plot_args" -->
  <!--      value="/pose_tracking_servo/target_pose_debug/pose/position/x -->
  <!-- 	      /pose_tracking_servo/target_pose_debug/pose/position/y -->
  <!-- 	      /pose_tracking_servo/target_pose_debug/pose/position/z -->
  <!-- 	      /pose_tracking_servo/target_pose_debug2/pose/position/x -->
  <!-- 	      /pose_tracking_servo/target_pose_debug2/pose/position/y -->
  <!-- 	      /pose_tracking_servo/target_pose_debug2/pose/position/z -->
  <!-- 	      /pose_tracking_servo/ee_pose_debug/pose/position/x -->
  <!-- 	      /pose_tracking_servo/ee_pose_debug/pose/position/y -->
  <!-- 	      /pose_tracking_servo/ee_pose_debug/pose/position/z"/> -->
  <arg unless="$(arg plot_joints)"
       name="plot_args"
       value="/pose_tracking_servo/target_pose_debug/pose/position/x
  	      /pose_tracking_servo/target_pose_debug/pose/position/y
  	      /pose_tracking_servo/ee_pose_debug/pose/position/x
  	      /pose_tracking_servo/ee_pose_debug/pose/position/y
  	      /arm_controller/command_debug/points[0]/positions[0]
  	      /arm_controller/command_debug/points[0]/positions[4]
  	      /arm_controller/state/actual/positions[0]
  	      /arm_controller/state/actual/positions[4]"/>

  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
	args="$(arg plot_args)"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
