<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="a_bot_"/>
  <arg name="server"	default="$(arg prefix)pose_head_controller"/>

  <!-- Spawn controller -->
  <node name="pose_head_client"
        pkg="aist_controllers" type="pose_head_client.py"
        output="screen" respawn="false">
    <param name="server"	value="$(arg server)"/>
    <rosparam param="$(arg server)"
	      file="$(dirname)/../config/pose_head_client.yaml"
              subst_value="true"/>
  </node>

</launch>
