<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <arg name="group"	 default="false"/>
  <arg name="sim"	 default="false"/>

  <arg if="$(arg group)"
       name="config_file"       value="tranbo_group_controller_config"/>
  <arg unless="$(arg group)"
       name="config_file"	value="tranbo_trajectory_controller_config"/>
  <arg name="pub_pos"		value="true"/>
  <arg name="pub_vel"		value="false"/>

  <node name="pose_head_servo"
	pkg="aist_controllers" type="pose_head_servo" output="screen">
    <rosparam file="$(dirname)/../config/$(arg config_file).yaml"
	      subst_value="true"/>
    <rosparam file="$(dirname)/../config/pose_tracking_settings.yaml"/>
  </node>

</launch>
