<?xml version="1.0"?>
<launch>

  <arg name="sim"		default="false"/>
  <arg name="scene"		default="a_bot_calibration"/>
  <arg name="robot_name"	default="a_bot"/>
  <arg name="camera_name"	default="$(arg robot_name)_outside_camera"/>
  <arg name="velocity_control"	default="false"/>
  <arg name="publish_rate"	default="100"/>

  <arg if="$(arg velocity_control)"
       name="controller_name"	value="$(arg robot_name
				       )/scaled_vel_joint_traj_controller"/>
  <arg unless="$(arg velocity_control)"
       name="controller_name"	value="$(arg robot_name
				       )/scaled_pos_joint_traj_controller"/>

  <!-- Select camera -->
  <node if="$(arg sim)"
	name="camera_selecter"
	pkg="aist_camera_multiplexer" type="select_camera.py"
	args="$(arg camera_name)" output="screen"/>
  <node unless="$(arg sim)"
	name="camera_selecter"
	pkg="aist_camera_multiplexer" type="select_realsense_camera.py"
	args="$(arg camera_name)" output="screen"/>

  <!-- Spawn a_bot -->
  <include file="$(find aist_bringup)/launch/a_bot_bringup.launch">
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="scene"		value="$(arg scene)"/>
  </include>

  <!-- Spawn aruco marker tracker -->
  <node name="aruco_detector"
        pkg="aist_aruco_ros" type="aist_aruco_detector" output="screen">
    <remap from="/camera_info"  to="camera_multiplexer/camera_info"/>
    <remap from="/image"        to="camera_multiplexer/image"/>
    <remap from="/depth"        to="camera_multiplexer/depth"/>
    <rosparam file="$(find aist_handeye_calibration
		    )/config/aist/$(arg camera_name).yaml"/>
  </node>

  <!-- Spawn pose_head_controller -->
  <node name="$(arg robot_name)_pose_head_tracker"
        pkg="aist_controllers" type="pose_head_tracker"
        output="screen" respawn="false">
    <rosparam file="$(dirname)/../config/pose_head_tracker.yaml"
              subst_value="true"/>
    <remap from="/state" to="$(arg controller_name)/state"/>
  </node>

</launch>
