<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"	default="live_cam"/>
  <arg name="marker_map_dir"	default="$(dirname)/../config"/>
  <arg name="marker_map"	default="calib_board-6x4"/>
  <arg name="marker_id"		default="26"/>
  <arg name="marker_size"	default="0.070"/>    <!-- in meters -->
  <arg name="manager"		default=""/>
  
  <node name="$(arg camera_name)"
  	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(find aist_routines)/config/$(arg camera_name).yaml"/>
  </node>

  <include file="$(dirname)/run_2d.launch">
    <arg name="image_topic"	value="$(arg camera_name)/image_raw"/>
    <arg name="marker_map_dir"	value="$(arg marker_map_dir)"/>
    <arg name="marker_map"	value="$(arg marker_map)"/>
    <arg name="marker_id"	value="$(arg marker_id)"/>
    <arg name="marker_size"	value="$(arg marker_size)"/>
    <arg name="manager"		value="$(arg manager)"/>
  </include>

  <node name="image_view"
	pkg = "image_view" type="image_view" output="screen">
    <remap from="/image"	to="aruco_detector_2d/result"/>
  </node>

</launch>
