<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"	default="live_camera"/>
  <arg name="marker_map_dir"	default="$(dirname)/../config"/>
  <arg name="marker_map"	default="calib_board-6x4"/>
  <arg name="marker_id"		default="26"/>
  <arg name="marker_size"	default="0.070"/>    <!-- in meters -->
  <arg name="manager"		default=""/>

  <node unless="$(eval manager == '')"
	name="$(arg manager)" pkg ="nodelet" type="nodelet"
	args="manager" output="screen">
    <param name="num_worker_threads"	value="4"/>
  </node>

  <node name="$(arg camera_name)"
  	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(find aist_routines)/config/$(arg camera_name).yaml"/>
  </node>

  <include file="$(dirname)/run_2d.launch">
    <arg name="image_topic"	value="$(arg camera_name)/image_raw"/>
    <arg name="marker_map_dir"	value="$(arg marker_map_dir)"/>
    <arg name="marker_map"	value="$(arg marker_map)"/>
    <arg name="marker_id"	value="$(arg marker_id)"/>
    <arg name="marker_size"	value="$(arg marker_size)"/>
    <arg name="manager"		value="$(arg manager)"/>
  </include>

  <arg if    ="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>
  <node name="image_view" pkg="nodelet" type="nodelet" output="screen"
  	args="$(arg command) image_view/image $(arg manager)">
    <remap from="/image"	to="aruco_detector_2d/result"/>
  </node>

</launch>
