<?xml version="1.0" ?>
<robot name="belt_tool" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/gravity_tool_holder.urdf.xacro" />
  <xacro:include filename="$(find aist_description)/wrc/urdf/belt_tool.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:gravity_tool_holder name="belt_tool_holder" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gravity_tool_holder>

  <xacro:belt_tool name="belt_tool" parent="belt_tool_holder">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:belt_tool>

</robot>
