<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="belt_tool">

  <xacro:macro name="belt_tool" params="name parent *origin">

    <link name="${name}">
      <inertial>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<mass value="1.0"/>
	<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
      <visual>
	<origin xyz="0.02 0 -0.017" rpy="0 0 ${-pi/2}"/>
	<geometry>
          <mesh filename="package://aist_description/wrc/meshes/belt_tool.stl" scale="0.001 0.001 0.001"/>
	</geometry>
	<material name="white">
          <color rgba=".9 .9 .9 1"/>
	</material>
      </visual>
      <!-- The graspable part -->
      <collision>
	<origin xyz="${.04/2} 0 ${-.01}" rpy="0 0 0"/>
	<geometry>
          <box size=".04 .03 .055"/>
	</geometry>
      </collision>
      <!-- The bottom part -->
      <collision>
	<origin xyz="${.02} 0 ${-.03-.1/2}" rpy="0 0 0"/>
	<geometry>
          <box size=".01 .035 .1"/>
	</geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="${name}_pickup_link"/>
    <joint name="${name}_pickup_joint" type="fixed">
      <parent link="${name}" />
      <child link="${name}_pickup_link" />
      <origin xyz=".02 0 -.01" rpy="0 ${pi/2} 0" />
    </joint>

  </xacro:macro>

</robot>
