<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cable_tool">

  <xacro:macro name="cable_tool" params="partname parent *origin">

    <link name="${partname}">
      <inertial>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<mass value="1.0"/>
	<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
      </inertial>
      <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<geometry>
          <mesh filename="package://aist_description/wrc/meshes/cable_tool.stl" scale="0.001 0.001 0.001"/>
	</geometry>
	<material name="white">
          <color rgba=".9 .9 .9 1"/>
	</material>
      </visual>
      <collision>
	<origin rpy="0 0 0" xyz="${.04/2} 0 ${-.01}"/>
	<geometry>
          <box size=".04 .03 .055"/>
	</geometry>
      </collision>
      <collision>
	<origin rpy="0 0 0" xyz="${.02} 0 ${-.03-.08/2}"/>
	<geometry>
          <cylinder length=".08" radius=".01"/>
	</geometry>
      </collision>
    </link>
    <joint name="${partname}_joint" type="fixed">
      <parent link="${parent}" />
      <child  link="${partname}" />
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${partname}_tip_link"/>
    <joint name="${partname}_tip_joint" type="fixed">
      <parent link="${partname}" />
      <child  link="${partname}_tip_link" />
      <origin xyz="0.05 0 0" rpy="0 0 0" />
    </joint>

  </xacro:macro>

</robot>
