<?xml version="1.0" ?>
<robot name="cable_tool" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/cable_tool_holder.urdf.xacro" />
  <xacro:include filename="$(find aist_description)/wrc/urdf/cable_tool.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:cable_tool_holder partname="cable_tool_holder" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:cable_tool_holder>

  <xacro:cable_tool partname="cable_tool"
		    parent="cable_tool_holder_pickup_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:cable_tool>

</robot>
