<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="belt_tool_holder">
  <!-- To use the tip of the holder to place the macro, use these offsets: -->
  <!-- <origin xyz="${+0.01} ${+.03} ${-0.0465}" rpy="0 0 0" />   -->

  <xacro:macro name="gravity_tool_holder" params="partname parent *origin">

    <link name="${partname}">
      <visual>
	<origin rpy="${pi/2} 0 ${pi/2}" xyz="0 -.025 -.005"/>
	<geometry>
          <mesh filename="package://aist_description/wrc/meshes/gravity_tool_holder.stl" scale="0.001 0.001 0.001"/>
	</geometry>
	<material name="grey">
          <color rgba=".5 .5 .5 1"/>
	</material>
      </visual>
      <collision>
	<origin rpy="0 0 0" xyz="${.05/2} 0 ${-.045/2}"/>
	<geometry>
          <box size=".05 .05 .045"/>
	</geometry>
      </collision>
    </link>
    <joint name="${partname}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${partname}" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

  </xacro:macro>

</robot>
