<?xml version="1.0" ?>
<robot name="belt_tool_holder" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/gravity_tool_holder.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:gravity_tool_holder name="gravity_tool_holder" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gravity_tool_holder>

</robot>
