<?xml version="1.0" ?>
<robot name="nut_holder" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/nut_holder.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:nut_holder partname="nut_holder" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:nut_holder>

</robot>
