<?xml version="1.0" ?>
<robot name="plunger_tool" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/gravity_tool_holder.urdf.xacro" />
  <xacro:include filename="$(find aist_description)/wrc/urdf/plunger_tool.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:gravity_tool_holder name="plunger_tool_holder" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gravity_tool_holder>

  <xacro:plunger_tool name="plunger_tool" parent="plunger_tool_holder">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:plunger_tool>

</robot>
