<?xml version="1.0" ?>
<robot name="taskboard" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/wrc/urdf/taskboard.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:taskboard boardname="taskboard" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:taskboard>

</robot>
