<?xml version="1.0" ?>
<launch>

  <arg name="rviz_config"	default="hmi_demo"/>
  <arg name="nep"		default="false"/>

  <!-- Start kitting servers -->
  <include file="$(dirname)/kitting.launch">
    <arg name="sim"		value="false"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

  <!-- Start hmi_demo server -->
  <node name="hmi_server"
  	pkg="aist_routines" type="hmi_server.py" output="screen"/>

  <!-- Start live camera -->
  <node name="live_camera"
	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(dirname)/../config/live_camera.yaml"/>
  </node>

  <group unless="$(arg nep)">
    <!-- Start rosbridge server -->
    <arg name="port"	value="9090"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="port"	value="$(arg port)"/>
    </include>
  </group>

  <group if="$(arg nep)">
    <arg name="nep_ip"	value="163.220.51.108"/>

    <!-- Start live camera -->
    <node name="camera_bridge"
	  pkg="aist_routines" type="camera_bridge.py" output="screen">
      <arg name="nep_ip"	value="$(arg nep_ip)"/>
    </node>

    <!-- Start ROS to NEP bridge -->
    <node name="ros2nep"
	  pkg="aist_routines" type="ros2nep.py" args="$(arg nep_ip)"
	  output="screen"/>

    <node name="getPointing"
	  pkg="aist_routines" type="getPointing.py"
	  output="screen"/>

    <node name="setRequestHelp"
	  pkg="aist_routines" type="setRequestHelp.py"
	  output="screen"/>
  </group>

</launch>
