<?xml version="1.0" ?>
<launch>

  <!-- Start kitting servers -->
  <include file="$(dirname)/kitting.launch">
    <arg name="sim"		value="false"/>
    <arg name="rviz_config"	value="$(dirname)/hmi_demo.rviz"/>
  </include>

  <!-- Start hmi_demo server -->
  <node name="hmi_server"
  	pkg="aist_routines" type="hmi_server.py" output="screen"/>

  <!-- Start live camera -->
  <node name="live_camera"
  	pkg="usb_cam" type="usb_cam_node" output="screen">
      <rosparam file="$(dirname)/../config/live_camera.yaml"/>
  </node>

  <!-- Start mesh generator -->
  <include file="$(find aist_visualization)/launch/mesh_generator.launch">
    <arg name="screen_frame"	  value="virtual_screen"/>
    <arg name="reference_frame"	  value="world"/>
    <arg name="camera_info_topic" value="/live_camera/camera_info"/>
  </include>

  <!-- Start rosbridge server -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port"	value="9090"/>
  </include>

  <!-- Start nep_bridge server -->
  <include file="$(find nep_bridge)/launch/run.launch">
    <arg name="config_file"	value="$(dirname)/../config/nep_bridge.yaml"/>
  </include>

</launch>
