<?xml version="1.0" ?>
<launch>

  <arg name="port"		default="9090"/>
  <arg name="rosbridge_name"	default="rosbridge_websocket"/>

  <!-- Start hmi_demo server -->
  <node name="hmi_server"
	pkg="aist_routines" type="hmi_server.py" output="screen">
    <!-- <remap from="/pointing"	to="$(arg rosbridge_name)/pointing"/> -->
  </node>

  <!-- Start hmi_demo client -->
  <node name="hmi_demo"
  	pkg="aist_routines" type="hmi_demo.py" output="screen">
    <rosparam file="$(find aist_routines)/config/aist_config.yaml"/>
    <rosparam file="$(find aist_routines)/config/hmi_demo.yaml"/>
  </node>

  <!-- Start live camera -->
  <node name="live_camera"
  	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(find aist_routines)/config/live_camera.yaml"/>
  </node>

</launch>
