<?xml version="1.0" ?>
<launch>

  <arg name="sim"		default="false"/>
  <arg name="rviz_config"	default="kitting"/>

  <!-- Start cameras -->
  <include file="$(find aist_bringup)/launch/aist_cameras.launch">
    <arg name="sim"			value="$(arg sim)"/>
  </include>

  <!-- Start graspability server -->
  <arg name="camera_name"	value="a_phoxi_m_camera"/>
  <include file="$(find aist_graspability)/launch/run.launch">
    <arg name="camera_info_topic"	value="$(arg camera_name)/camera_info"/>
    <arg name="image_topic"		value="$(arg camera_name)/texture"/>
    <arg name="depth_topic"		value="$(arg camera_name)/depth_map"/>
    <arg name="normal_topic"		value="$(arg camera_name)/normal_map"/>
  </include>

  <!-- Start rviz -->
  <include file="$(find aist_bringup)/launch/include/rviz.launch">
    <arg name="moveit_config"	value="$(find aist_moveit_config)"/>
    <arg name="rviz_config"	value="$(dirname)/$(arg rviz_config).rviz"/>
  </include>

</launch>
