<?xml version="1.0" ?>
<launch>

  <arg name="sim"		default="false"/>
  <arg name="rviz_config"	default="kitting"/>

  <!-- Start robots -->
  <arg name="config"	value="aist"/>
  <arg name="scene"	value="kitting"/>
  <include file="$(find aist_bringup)/launch/$(arg config)_bringup.launch">
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="rviz_config"	value="$(find aist_routines
				       )/launch/$(arg rviz_config).rviz"/>
  </include>

  <!-- Start graspability server -->
  <arg name="camera_name"	value="a_phoxi_m_camera"/>
  <include file="$(find aist_graspability)/launch/run.launch">
    <arg name="camera_info_topic"	value="$(arg camera_name)/camera_info"/>
    <arg name="image_topic"		value="$(arg camera_name)/texture"/>
    <arg name="depth_topic"		value="$(arg camera_name)/depth_map"/>
    <arg name="normal_topic"		value="$(arg camera_name)/normal_map"/>
  </include>

  <!-- Start rosbridge server -->
  <arg name="port"	value="9090"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port"	value="$(arg port)"/>
  </include>

  <!-- Start live camera -->
  <node name="live_camera"
  	pkg="usb_cam" type="usb_cam_node" output="screen">
    <rosparam file="$(dirname)/../config/live_camera.yaml"/>
  </node>

</launch>
