<?xml version="1.0" ?>
<launch>

  <arg name="sim"		default="false"/>
  <arg name="config"		default="aist"/>
  <arg name="rviz_config"	default="$(dirname)/kitting.rviz"/>

  <!-- Start cameras -->
  <include file="$(dirname)/aist_cameras.launch">
    <arg name="sim"		value="$(arg sim)"/>
  </include>

  <!-- Start object_database_server -->
  <include file="$(find aist_object_database)/launch/run.launch"/>

  <!-- Start graspability server -->
  <arg name="camera_name"	value="a_motioncam"/>
  <include file="$(find aist_graspability)/launch/run.launch">
    <arg name="camera_info_topic"	value="$(arg camera_name)/camera_info"/>
    <arg name="image_topic"		value="$(arg camera_name)/texture"/>
    <arg name="depth_topic"		value="$(arg camera_name)/depth_map"/>
    <arg name="normal_topic"		value="$(arg camera_name)/normal_map"/>
  </include>

  <!-- Start rviz -->
  <arg if="$(eval config == 'b_bot')"
       name="moveit_config"	value="$(find b_bot_moveit_config)"/>
  <arg unless="$(eval config == 'b_bot')"
       name="moveit_config"	value="$(find aist_moveit_config)"/>
  <include file="$(find aist_bringup)/launch/include/rviz.launch">
    <arg name="moveit_config"	value="$(arg moveit_config)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

</launch>
