<?xml version="1.0" ?>
<launch>

  <arg name="config"		default="aist"/>

  <!-- Start assembly client -->
  <node name="assembly" pkg="aist_routines" type="run_assembly.py"
	clear_params="true" output="screen">
    <rosparam file="$(find aist_routines)/config/$(arg config)_config.yaml"/>
    <rosparam param="tool_descriptions"
	      file="$(find aist_fastening_tools
		    )/config/fastening_tools_properties.yaml"/>
    <rosparam param="tool_descriptions"
    	      file="$(find aist_precision_gripper
    		    )/config/precision_tools_properties.yaml"/>
    <rosparam file="$(find aist_routines)/config/assembly.yaml"/>
  </node>

  <!-- Start nep_bridge server -->
  <include file="$(find nep_bridge)/launch/run.launch">
    <arg name="config_file"	value="$(dirname)/../config/nep_bridge.yaml"/>
  </include>

</launch>
