<launch>

  <arg name="camera_name"	default="camera"/>
  <arg name="video_device"	default="/dev/video0"/>

  <!-- Launch camera -->
  <include file="$(find toyota2_bbox_tracker)/launch/toyota2_camera.launch">
    <arg name="camera_name"	value="$(arg camera_name)"/>
    <arg name="video_device"	value="$(arg video_device)"/>
    <arg name="vis"		value="false"/>
  </include>

  <!-- Launch mesh_generator -->
  <include file="$(dirname)/run.launch">
    <arg name="camera_info_topic" value="$(arg camera_name)/camera_info"/>
  </include>

  <!-- Launch RViz -->
  <include file="$(find urdf_tutorial)/launch/display.launch">
    <arg name="model"		value="$(find toyota2_description
				       )/urdf/toyota2_base_scene.urdf.xacro"/>
    <arg name="rvizconfig"	value="$(dirname)/test.rviz"/>
  </include>

</launch>
