<?xml version="1.0" ?>
<launch>

  <arg name="screw_tools"	default="$(dirname
					 )/../config/screw_tools.yaml"/>

  <node name="screw_tool_test"
	pkg="aist_fastening_tools" type="screw_tool_test.py"
	output="screen"/>

  <include file="$(dirname)/screw_tool_controller.launch">
    <arg name="screw_tools"	value="$(arg screw_tools)"/>
  </include>

</launch>
