<?xml version="1.0" ?>
<launch>

  <arg name="tool_name"		default="screw_tool_m3"/>

  <node name="$(arg tool_name)_test"
	pkg="aist_fastening_tools" type="screw_tool_test.py"
	output="screen">
    <param name="controller_ns"	value="$(arg tool_name)_fastening_controller"/>
  </node>

  <include file="$(dirname)/screw_tool_controllers.launch">
    <arg name="tool_names"	value="$(arg tool_name)"/>
  </include>

</launch>
