<?xml version="1.0" ?>
<launch>

  <arg name="tool_name"		default="screw_tool_m3"/>

  <arg name="controller_ns"	value="$(arg tool_name)_fastening_controller"/>
  <node name="$(arg tool_name)_test"
	pkg="aist_fastening_tools" type="screw_tool_test.py"
	output="screen">
    <param name="controller_ns"	value="$(arg controller_ns)"/>
  </node>

  <node name="tool_status" pkg="rqt_plot" type="rqt_plot"
	args="$(arg controller_ns)/status/speed
	      $(arg controller_ns)/status/current"/>

</launch>
