<?xml version="1.0" ?>
<launch>

  <arg name="camera_info_topic"	default="camera_info"/>
  <arg name="image_topic"	default="texture"/>
  <arg name="depth_topic"	default="depth_map"/>
  <arg name="normal_topic"	default="normal_map"/>
  <arg name="subscribe_normal"	default="false"/>
  <arg name="manager"		default=""/>

  <arg if="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>

  <node name="depth_filter" pkg="nodelet" type="nodelet" output="screen"
  	args="$(arg command) aist_depth_filter/aist_depth_filter
	      $(arg manager)">
    <remap from="/camera_info"		to="$(arg camera_info_topic)"/>
    <remap from="/image"		to="$(arg image_topic)"/>
    <remap from="/depth"		to="$(arg depth_topic)"/>
    <remap if="$(arg subscribe_normal)"
	   from="/normal"		to="$(arg normal_topic)"/>
    <param name="subscribe_normal"	value="$(arg subscribe_normal)"/>
  </node>

</launch>
