<?xml version="1.0" ?>
<robot name="cage" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/objects/urdf/cage.urdf.xacro" />

  <link name="base_link"/>

  <xacro:cage prefix="a_"
	      width="1.620" length="1.300" height="1.400" thickness="0.050"
	      workspace_height="0.770" toolbar_height="0.270"
	      parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:cage>

</robot>
