<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/objects/urdf/screw_tool_holder.urdf.xacro" />

  <link name ="world"/>

  <xacro:screw_tool_holder prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:screw_tool_holder>
</robot>
