<?xml version="1.0" ?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="camera_name"		default="a_bot_inside_camera"/>
  <arg name="check"			default="false"/>
  <arg name="use_dual_quaternion"	default="true"/>

  <!-- Turn on laser only for a camera to be calibrated -->
  <node unless="$(arg sim)"
	name="select_realsense_camera"
	pkg="aist_camera_multiplexer" type="select_realsense_camera.py"
	args="$(arg camera_name)"/>

  <!-- Launch devices and calibrator -->
  <include file="$(dirname)/include/handeye_calibration.launch">
    <arg name="config"		    value="a_bot"/>

    <arg name="camera_info_topic"   value="color/camera_info"/>
    <arg name="image_topic"	    value="color/image_raw"/>
    <arg name="depth_topic"	    value="aligned_depth_to_color/image_raw"/>

    <arg name="sim"		    value="$(arg sim)"/>
    <arg name="camera_name"	    value="$(arg camera_name)"/>
    <arg name="check"		    value="$(arg check)"/>
    <arg name="use_dual_quaternion" value="$(arg use_dual_quaternion)"/>
  </include>

</launch>
