<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/devices/urdf/zivid2plus.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:zivid2plus name="zivid_" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:zivid2plus>
</robot>
